.flip-y-180
{
    transform: rotateY(180deg);
}
@font-face
{
	font-family: Meanwhile;
	src: url(../fonts/Meanwhile.ttf);
}
*
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-family: Meanwhile;
}

.task-title
{
	font-size: 3vmin;
	text-shadow: 1px 1px black;	
	color: white;
	position: absolute;
	left: 3.65%;
	top: 5.5%;
	width: 59.45%;
	height: 33.6%;
}

/*ABSOLUTE MAX*/
.absolute-max
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;	
}
/*TRANSITIONS*/
.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box-shadow-white
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

.box-shadow-black
{
	box-shadow: 0vmin 0vmin 5px 5px black;
	-moz-box-shadow: 0% 0% 2% 2% black;
	-o-box-shadow: 0% 0% 2% 2% black;
	-webkit-box-shadow: 0% 0% 2% 2% black;
	-ms-box-shadow: 0% 0% 2% 2% black;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}
.z-six { z-index: 6;} 
.z-seven { z-index: 7;}
.z-eight { z-index: 8;}
.z-nine { z-index: 9;}
.z-ten { z-index: 10;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*BLACK SKIN*/

/*BLACK SKIN*/

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.7;
	z-index: 10;
}

.result{
	position: relative;
	top:40%;
	left:30%;
	width: 40%;
	height:20%;
	color: white;
	font-family: Verdana;
	font-size: 3vmin;
	z-index: 11;

}

.next-button, .start-button, .correct, .keep-thinking, #frame-125 .result
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 3vmin;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

.home-button
{
	width: 13%;
	height: 7%;
	background-color: white;
	border-radius: 2vmin;
	border: 3px solid black;
	position: absolute;
	left: 82%;
	top: 91%;
	font-family: century gothic;
	font-size: 2vmax;
	padding: 0.5%;
	text-align: center;
}

.home-button:hover
{
	color: white;
	background-color: black;
}

/*AWARD NUM*/

.award-num {
  position: absolute;
  left: 1.1%;
  top: 86.4%;
  width: 11.3%;
  height: 11.4%;
  z-index: 6;
  opacity: 0.7;
  border-radius: 10px;
  border: 2px solid black;
  background-color: grey;
}

.award-num .label, .award-num .pic
{
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
}

.award-num .label
{
	padding: 2%;
	padding-top: 10%;
	font-size: 50%;
	text-align: right;
}

.award-num .pic
{
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../pics/golden-man.png);
}

/*PRE LOAD*/

#pre-load
{
	background-color: #DCDCDC;
}

#pre-load .pre-load-image
{
	background-image: url(../pics/pre-loader.png);
	background-size: auto 100%;
	background-position: 0% 0%;
	width: 0%;
	height: 100%;
	position: absolute;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

/*AWARD*/
.award
{
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	background-image: url(../pics/award.png);
	background-size: cover;
	border: 3px solid white;
	border-radius: 2vmin;
	z-index: 11;
}

.award-text
{
	font-family: century gothic;
	font-size: 3vmin;
	color: white;
	text-align: center;
	width: 100%;
	height: 20%;
	padding: 2%;
}

.award-pic
{
	width: 100%;
	height: 80%;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../pics/golden-man.png);
}

/*FRAME 000*/

#frame-000
{
	background-image: url(../pics/s0-bg.png);
}


#frame-000 .button-1
{
	background: transparent url('../pics/s0-main-title.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 28.1%;
	top: 74.3%;
	width: 43.85%;
	height: 14.2%;
}

#frame-000 .button-1:hover
{
	background: transparent url('../pics/s0-main-title-glow.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

#frame-000 .button-2
{
	background: transparent url('../pics/s0-discover-title.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 44.7%;
	top: 90.7%;
	width: 10.75%;
	height: 6.7%;
}

#frame-000 .button-2:hover
{
	background: transparent url('../pics/s0-discover-title-glow.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

/*FRAME 101*/

#frame-101
{
	background-image: url(../pics/s2.png);
}

#frame-101 .guide-cloud
{
	width: 25%;
	height: 30%;
	background-image: url(../pics/speech-cloud.png);
	background-size: 100% 100%;
	padding: 1%;
	padding-bottom: 5%;
	position: absolute;
	left: 58%;
	top: 4%;
	font-size: 23%;
}

#frame-101 .everybody-eyes
{
	background-image: url(../pics/s2-everybody-eyes.gif);
}

#frame-101 .guide-mouth
{
	background-image: url(../pics/s2-guide-mouth.gif);
}

/*FRAME 102*/

#frame-102
{
	background-image: url(../pics/s3.png);
}

#frame-102 .s3-boy-cloud
{
	background: transparent url('../pics/s3-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 26.7%;
	top: 2.7%;
	width: 17.6%;
	min-height: 28%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 23%;
}

#frame-102 .s3-guide-cloud
{
	background: transparent url('../pics/s3-guide-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50.7%;
	top: 20%;
	width: 20.6%;
	min-height: 33%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-102 .s3-guide
{
	background-image: url(../pics/s3-guide.png);
}

#frame-102 .s3-guide-mouth
{
	background-image: url(../pics/s3-guide-mouth.gif);
}

#frame-102 .s3-boy-mouth
{
	background-image: url(../pics/s3-boy-mouth.gif);
}

#frame-102 .s2-golden-capricorn
{
	background: transparent url('../pics/s2-golden-capricorn.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 21.55%;
	top: 46.9%;
	width: 35.8%;
	height: 55.9%;
}

/*FRAME 103*/

#frame-103
{
	background-image: url(../pics/s4.png);
}

#frame-103 .guide
{
	background-image: url(../pics/s4-guide.png);
}

#frame-103 .sword
{
	background-image: url(../pics/sword.png);
}

#frame-103 .guide-cloud
{
	background: transparent url('../pics/s4-guide-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 39.05%;
	top: 38.4%;
	width: 28.4%;
	min-height: 30.9%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 23%;
}

#frame-103 .boy-cloud
{
	background: transparent url('../pics/s4-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 29.95%;
	top: 7.5%;
	width: 22.1%;
	height: 30.9%;
	padding: 1%;
	font-size: 25%;
}

#frame-103 .boy-mouth
{
	background-image: url(../pics/s4-boy-mouth.gif);
}

#frame-103 .guide-mouth
{
	background-image: url(../pics/s4-guide-mouth.gif);
}

#frame-103 .boy-eyes
{
	background-image: url(../pics/s4-boy-eyes.gif);
}

#frame-103 .guide-eyes
{
	background-image: url(../pics/s4-guide-eyes.gif);
}


/*FRAME 104*/

#frame-104
{
	background-image: url(../pics/s5.png);
}

#frame-104 .guide-cloud
{
	background: transparent url('../pics/s5-guide-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 26.25%;
	top: 3.9%;
	width: 28.7%;
	min-height: 25.9%;
	padding: 1%;
	font-size: 20%;
}

#frame-104 .corrosion-label
{
	
}

#frame-104 .guide-mouth
{
	background-image: url(../pics/s5-guide-mouth.gif);
}

#frame-104 .guide-eyes
{
	background-image: url(../pics/s5-guide-eyes.gif);
}

#frame-104 .corrosion-label {
	background: transparent url('../pics/s5-corrosion.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 55.4%;
	top: 29.1%;
	width: 39.8%;
	height: 54.7%;
}

/*FRAME 105*/

#frame-105
{
	background-image: url(../pics/s6.png);
}

#frame-105 #s6-ship
{
	background: transparent url('../pics/s6-ship.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 37.65%;
	top: 22.4%;
	width: 22.45%;
	height: 32.9%;
}

#frame-105 #s6-ball
{
	background: transparent url('../pics/s6-ball.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 83.3%;
	top: 62.7%;
	width: 15.8%;
	height: 35.5%;
}

#frame-105 #s6-spade{
	background: transparent url('../pics/s6-spade.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 83.3%;
	top: 38%;
	width: 15.8%;
	height: 23.2%;
}

#frame-105 #s6-horseshoe{
	background: transparent url('../pics/s6-horseshoe.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 71.95%;
	top: 5.4%;
	width: 8.75%;
	height: 16.3%;
}

#frame-105 #s6-bucket{
	background: transparent url('../pics/s6-bucket.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 2.85%;
	top: 62.8%;
	width: 15.25%;
	height: 32.7%;
}

#frame-105 #s6-rusty-fence{
	background: transparent url('../pics/s6-rusty-fence.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 36.6%;
	top: 58.2%;
	width: 24.8%;
	height: 32.9%;
}

#frame-105 #s6-tin-can{
	background: transparent url('../pics/s6-tin-can.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 83.3%;
	top: 0.8%;
	width: 15.8%;
	height: 35.5%;
}

#frame-105 #s6-keys{
	background: transparent url('../pics/s6-keys.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 66.9%;
	top: 74.6%;
	width: 10.85%;
	height: 18%;
}

#frame-105 #s6-leather-flusk{
	background: transparent url('../pics/s6-leather-flusk.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 19.2%;
	top: 54.8%;
	width: 15.8%;
	height: 35.5%;
}

#frame-105 #s6-snow-leopard{
	background: transparent url('../pics/s6-snow-leopard.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 62.3%;
	top: 25.8%;
	width: 20%;
	height: 46.7%;
}

#frame-105 .item
{
	border-radius: 2vmin;
}

#frame-105 #s6-task
{
	background-image: url(../pics/s6-task.png);
}

#frame-105 #s6-task-cloud{
	background: transparent url('../pics/s6-task-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.05%;
	top: 23.9%;
	width: 28.7%;
	min-height: 30.9%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 25%;
}

#frame-105 .award-pic
{
	background-image: url(../pics/golden-man.png);
}

/*FRAME 106*/
#frame-106
{
	background-image: url(../pics/s7.png);
}

#frame-106 .girl-cloud
{
	background: transparent url('../pics/s7-girl-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 46.5%;
	top: 7.9%;
	width: 27.25%;
	height: 30.9%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 26%;
}

#frame-106 .медь{
	background: transparent url('../pics/медь.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.4%;
	top: 2.4%;
	width: 16.15%;
	height: 27.7%;
}

#frame-106 .copper{
	background: transparent url('../pics/s7-copper.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.4%;
	top: 2.4%;
	width: 16.15%;
	height: 27.7%;
}

#frame-106 .gold{
	background: transparent url('../pics/s7-gold.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.4%;
	top: 32.8%;
	width: 16%;
	height: 27.5%;
}

#frame-106 .aluminum{
	background: transparent url('../pics/s7-aluminum.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.4%;
	top: 62.6%;
	width: 16%;
	height: 27.4%;
}

#frame-106 .iron{
	background: transparent url('../pics/s7-iron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 21.85%;
	top: 2.4%;
	width: 16.2%;
	height: 27.8%;
}

#frame-106 .chromium{
	background: transparent url('../pics/s7-chromium.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 21.7%;
	top: 32.4%;
	width: 16.25%;
	height: 27.8%;
}

#frame-106 .zinc{
	background: transparent url('../pics/s7-zinc.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 21.7%;
	top: 62.6%;
	width: 16.15%;
	height: 27.7%;
}

#frame-106 .girl-mouth
{
	background-image: url(../pics/s7-girl-mouth.gif);
}

#frame-106 .girl-eyes
{
	background-image: url(../pics/s7-girl-eyes.gif);
}


#frame-106 .question
{
	background-image: url(../pics/s7-question.png);
}

/*FRAME 107*/

#frame-107
{
	background-image: url(../pics/s8.png);
}

#frame-107 .teacher-cloud
{
	background: transparent url('../pics/s8-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 44.95%;
	top: 5.8%;
	width: 27.6%;
	min-height: 32.6%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 26%;
}
 
#frame-107 .teacher-mouth
{
	background-image: url(../pics/s8-teacher-mouth.png);
	background-size: 200% 100%;
}

#frame-107 .teacher-eyes
{
	background-image: url(../pics/s8-teacher-eyes.png);
	background-size: 200% 100%;
}

#frame-107 .series
{
	background: transparent url('../pics/s8-series.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 1.9%;
	top: 40.3%;
	width: 59.15%;
	height: 24.5%;
}

/*FRAME 108*/

#frame-108
{
	background-image: url(../pics/s9.png);
}

#frame-108 .guide-mouth
{
	background-image: url(../pics/s9-guide-mouth.gif);
}

#frame-108 .guide-eyes
{
	background-image: url(../pics/s9-guide-eyes.gif);
}

#frame-108 .guide-cloud-2
{
	background: transparent url('../pics/s9-guide-cloud-2.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 67.85%;
	top: 5.5%;
	width: 25.7%;
	min-height: 28.8%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 25%;
}

#frame-108 .guide-cloud-1
{
	background: transparent url('../pics/s9-guide-cloud-1.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 47.05%;
	top: 36.5%;
	width: 26.1%;
	min-height: 19.7%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 25%;
}

#frame-108 .coin-gold
{
	background: transparent url('../pics/s9-coin-gold.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 18.45%;
	top: 73.9%;
	width: 12.9%;
	height: 22.1%;
}

#frame-108 .basket
{
	border: 3px solid black;
	border-radius: 2vmin;
	position: absolute;
	background-size: 100% 100%;
	background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#frame-108 .basket-2
{
	left: 18.45%;
	top: 50%;
	width: 12.9%;
	height: 22.1%;
}

#frame-108 .coin-zinc
{
	background: transparent url('../pics/s9-coin-zinc.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.1%;
	top: 73.8%;
	width: 12.65%;
	height: 22.2%;
}

#frame-108 .basket-1
{
	left: 4.1%;
	top: 50%;
	width: 12.65%;
	height: 22.2%;
}

#frame-108 .coin-silver
{
	background: transparent url('../pics/s9-coin-silver.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 32.95%;
	top: 73.9%;
	width: 12.7%;
	height: 21.9%;
}

#frame-108 .basket-3
{
	left: 32.95%;
	top: 50%;
	width: 12.7%;
	height: 21.9%;
}

#frame-108 .coin-copper
{
	background: transparent url('../pics/s9-coin-copper.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 47.2%;
	top: 73.8%;
	width: 12.9%;
	height: 22.2%;
}

#frame-108 .basket-4
{
	left: 47.2%;
	top: 50%;
	width: 12.9%;
	height: 22.2%;
}


#frame-108 .series-term
{
	font-size: 2.5vmin;
	color: yellow;
	position: absolute;
	left: 6.85%;
	top: 23.2%;
	width: 51.05%;
	height: 20%;
}

#frame-108 .series-definition
{
	font-size: 2vmin;
	color: orange;
	position: absolute;
	left: 9.85%;
	top: 28.2%;
	width: 51.05%;
	height: 20%;
}

/*FRAME 109*/

#frame-109
{
	background-image: url(../pics/s10.png);
}

#frame-109 .teacher-mouth
{
	background-image: url(../pics/s10-teacher-mouth.gif);
}

#frame-109 .teacher-eyes
{
	background-image: url(../pics/s10-teacher-eyes.gif);
}

#frame-109 .teacher-cloud
{
	background: transparent url('../pics/s10-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 25.85%;
	top: 10%;
	width: 28.7%;
	min-height: 50%;
	font-size: 25%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-109 .teacher-cloud-2
{
	background: transparent url('../pics/s10-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 25.85%;
	top: 10%;
	width: 28.7%;
	min-height: 55%;
	font-size: 22%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-109 .beketov-portait
{
	background: transparent url('../pics/s10-beketov-portait.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 78.7%;
	top: 2.2%;
	width: 19.3%;
	height: 49.2%;
}

#frame-109 .beketov-name-years
{
	background: transparent url('../pics/s10-beketov-name-years.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 55.55%;
	top: -0.2%;
	width: 23.8%;
	height: 34.7%;
}

#frame-109 .push{

	position: absolute;
	left: 5.8%;
	top: 80.6%;
	width: 24.5%;
	height: 2.7%;
	font-size: 2vmin;
	color: white;
}

#frame-109 .no-push{

	position: absolute;
	left: 77.7%;
	top: 76.3%;
	width: 18.55%;
	height: 5.40%;
	font-size: 2vmin;
	color: white;
}

#frame-109 .series{
	background: transparent url('../pics/s10-series.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.35%;
	top: 86.6%;
	width: 92.15%;
	height: 6.90%;
}

#frame-109 .series-blue-highlight{
	background: transparent url('../pics/s10-series-blue-highlight.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 75.3%;
	top: 81%;
	width: 23.1%;
	height: 16.8%;
}

#frame-109 .series-green-highlight{
	background: transparent url('../pics/s10-series-green-highlight.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 1.7%;
	top: 81.7%;
	width: 72.3%;
	height: 15.5%;
}

#frame-109 .text
{
	position: absolute;
	left: 41.75%;
	top: 42.7%;
	width: 32.3%;
	height: 29.7%;
}

#frame-109 .lightgreen
{
	color: lightgreen;
	font-size: 1vmax;
}

#frame-109 .lightblue
{
	color: lightblue;
	font-size: 1vmax;
}

/*FRAME 110*/
#frame-110
{
	background-image: url(../pics/s11.png);
}

#frame-110 .boy-eyes
{
	background-image: url(../pics/s11-boy-eyes.gif);
}

#frame-110 .boy-mouth
{
	background-image: url(../pics/s11-boy-mouth.gif);
}

#frame-110 .boy-cloud
{
	background: transparent url('../pics/s11-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 24.45%;
	top: 1.2%;
	width: 28.75%;
	height: 40%;
	padding: 1%;
	font-size: 20%;
	padding-bottom: 5%;
}

#frame-110 .cable
{
	background: transparent url('../pics/s11-cable.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 79.2%;
	top: 74.8%;
	width: 14.9%;
	height: 18.2%;
}

#frame-110 h5{
	color: black;
    font-size: 20%;
    position: absolute;
    left: 10%;
    bottom: 0.5%;
}

#frame-110 .kalium
{
	background: transparent url('../pics/s11-kalium.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 80.9%;
	top: 40.3%;
	width: 14.95%;
	height: 25.2%;
}

#frame-110 .natrium
{
	background: transparent url('../pics/s11-natrium.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 61.95%;
	top: 43.5%;
	width: 14.95%;
	height: 25.2%;
}

#frame-110 .spoon
{
	background: transparent url('../pics/s11-spoon.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 43.05%;
	top: 68%;
	width: 14.95%;
	height: 22.9%;
}

#frame-110 .door
{
	background: transparent url('../pics/s11-door.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 63%;
	top: 3.7%;
	width: 14.95%;
	height: 36.6%;
}

#frame-110 .caserole
{
	background: transparent url('../pics/s11-caserole.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 80.9%;
	top: 5.3%;
	width: 14.2%;
	height: 26.4%;
}

#frame-110 .calcium
{
	background: transparent url('../pics/s11-calcium.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 61.95%;
	top: 71.3%;
	width: 14.95%;
	height: 25.2%;
}

#frame-110 .ring
{
	background: transparent url('../pics/s11-ring.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 46.8%;
	top: 32.8%;
	width: 12.55%;
	height: 23.3%;
}

/*FRAME 111*/

#frame-111
{
	background-image: url(../pics/s12.png);
}

#frame-111 .guide-cloud-1
{
	background: transparent url('../pics/s12-guide-cloud-1.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 20.5%;
	top: 4.6%;
	width: 28.7%;
	height: 23.4%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 1vmax;
}

#frame-111 .guide-cloud-2
{
	background: transparent url('../pics/s12-guide-cloud-2.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 30.65%;
	top: 27.4%;
	width: 28.7%;
	height: 18.6%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 1vmax;
}

#frame-111 .guide-cloud-3
{
	background: transparent url('../pics/s12-guide-cloud-3.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 28.7%;
	top: 50.8%;
	width: 28.7%;
	height: 17.1%;
	padding: 1%;
	padding-top: 5%;
	font-size: 1vmax;
}

#frame-111 .series
{
	background: transparent url('../pics/s10-series.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.05%;
	top: 83.5%;
	width: 92.15%;
	height: 6.90%;
}

#frame-111 .active-metals-highlight
{
	background: transparent url('../pics/s12-active-metals-highlight-yellow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 1.8%;
	top: 78.9%;
	width: 31.6%;
	height: 16.2%;
}

#frame-111 .middle-metals-highlight
{
	background: transparent url('../pics/s12-middle-metals-highlight-green.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 31.4%;
	top: 78.6%;
	width: 42.3%;
	height: 15.5%;
}

#frame-111 .inactive-metals-highlight
{
	background: transparent url('../pics/s12-inactive-metals-highlight-blue.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 75%;
	top: 77.9%;
	width: 23.1%;
	height: 16.8%;
}

#frame-111 .active
{
	background: transparent url('../pics/s12-active-metals.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 62.75%;
	top: 5.4%;
	width: 21.95%;
	height: 15.3%;
}

#frame-111 .middle-active
{
	background: transparent url('../pics/s12-middle-metals.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 62.7%;
	top: 28.4%;
	width: 35.15%;
	height: 15.7%;
}

#frame-111 .inactive
{
	background: transparent url('../pics/s12-inactive-metals.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 62.25%;
	top: 56.2%;
	width: 28%;
	height: 15.3%;
}

#frame-111 .guide-mouth
{
	background-image: url(../pics/s12-guide-mouth.gif);
}

#frame-111 .guide-eyes
{
	background-image: url(../pics/s12-guide-eyes.gif);
}

/*FRAME 112*/
#frame-112
{
	background-image: url(../pics/s13.png);
}

#frame-112 .teacher-mouth
{
	background-image: url(../pics/s13-teacher-mouth.gif);
}

#frame-112 .teacher-eyes
{
	background-image: url(../pics/s13-teacher-eyes.gif);
}

#frame-112 .teacher-cloud
{
	background: transparent url('../pics/s13-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 60.9%;
	top: 5.4%;
	width: 36.8%;
	height: 46.1%;
	font-size: 22%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-112 .video-container
{
	position: absolute;
	width: 40%;
	height: 40%;
	left: 10%;
	top: 20%;
}

/*FRAME 113*/

#frame-113
{
	background-image: url(../pics/s14.png);
}

#frame-113 .boy-mouth
{
	background-image: url(../pics/s14-boy-mouth.gif);
}

#frame-113 .boy-cloud-1
{
	background: transparent url('../pics/s13-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 65.75%;
	top: 8.5%;
	width: 28.75%;
	height: 16.3%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 22%;
}

#frame-113 .boy-cloud-2
{
	background: transparent url('../pics/s14-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 47.3%;
	top: 30.2%;
	width: 25.95%;
	height: 15.8%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-113 .box
{
	border: 2px solid black;
	border-radius: 2vmin;
	background-size: 100% 100%;
	font-size: 25%;
	position: absolute;
	text-align: center;
	padding: 1.5%;
	background-color: white;
}

#frame-113 .box-gold
{
	left: 8%;
	top: 34.3%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-platina
{
	left: 26.9%;
	top: 34.3%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-litii
{
	left: 8%;
	top: 46.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-iron
{
	left: 26.8%;
	top: 46.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-calcium
{
	left: 8%;
	top: 57.9%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-copper
{
	left: 26.8%;
	top: 57.9%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-natrium
{
	left: 8%;
	top: 68.9%;
	width: 14.5%;
	height: 9.19%;
}

#frame-113 .box-olovo
{
	left: 26.8%;
	top: 68.9%;
	width: 14.5%;
	height: 9.19%;
}

#frame-113 .box-zinc
{
	left: 7.9%;
	top: 80.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .box-cobalt
{
	left: 26.55%;
	top: 80.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-113 .award-pic
{
	background-image: url(../pics/golden-man.png);
}

/*FRAME 114*/
#frame-114
{
	background-image: url(../pics/s15.png);
}

#frame-114 .guide
{
  background-image: url(../pics/s15-guide.png);
  background-size: 100% 100%;
}

#frame-114 .girl
{
  background-image: url(../pics/s15-girl.png);
  background-size: 100% 100%;
}

#frame-114 .guide-cloud
{
	background: transparent url('../pics/s15-guide-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	color: black;
	left: 58.65%;
	top: 17.7%;
	width: 13.8%;
	height: 19.3%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 22%;
}

#frame-114 .girl-cloud
{
	background: transparent url('../pics/s15-girl-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 78.05%;
	top: 67.7%;
	width: 17.2%;
	height: 19%;
	padding: 1%;
	padding-top: 3.5%;
	font-size: 21%;
}

#frame-114 .boy-cloud
{
	background: transparent url('../pics/s15-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.5%;
	top: 13.5%;
	width: 22.1%;
	height: 25.4%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 22%;
}

#frame-114 .guide-mouth
{
	background-image: url(../pics/s15-guide-mouth.gif);
}
#frame-114 .girl-mouth
{
	background-image: url(../pics/s15-girl-mouth.gif);
}
#frame-114 .boy-mouth
{
	background-image: url(../pics/s15-boy-mouth.gif);
}

#frame-114 .everybody-eyes
{
	background-image: url(../pics/s15-everybody-eyes.gif);
}

/*FRAME 115*/

#frame-115
{
	background-image: url(../pics/s16.png);
}

#frame-115 .guide-cloud
{
	background: transparent url('../pics/s16-guide-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 7.1%;
	top: 4.8%;
	width: 25.7%;
	height: 29%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 22%;
}

#frame-115 .guide-eyes
{
	background-image: url(../pics/s16-guide-eyes.gif);
}

#frame-115 .guide-mouth
{
	background-image: url(../pics/s16-guide-mouth.gif);
}

#frame-115 .box
{
	border: 3px solid black;
	background-color: white;
	border-radius: 2vmin;
	padding: 1.5%;
	text-align: center;
	font-size: 25%;
}

#frame-115 .s15-box-metal
{
	position: absolute;
	left: 50.55%;
	top: 13.2%;
	width: 14.5%;
	height: 9.2%;
}

#frame-115 .s15-plus-sign
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 66.5%;
	top: 16.9%;
	width: 0.90%;
	height: 2.1%;
}

#frame-115 .s15-box-water
{
	position: absolute;
	left: 68.95%;
	top: 13.2%;
	width: 14.5%;
	height: 9.2%;
}

#frame-115 .s15-arrow
{
	background: transparent url('../pics/s16-arrow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 86.15%;
	top: 16.1%;
	width: 4.05%;
	height: 2.7%;
}


#frame-115 .s15-box-hydrooxide
{
	position: absolute;
	left: 47.75%;
	top: 24.4%;
	width: 17.5%;
	height: 11%;
}

#frame-115 .s15-plus-sign-2
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 66.35%;
	top: 28.7%;
	width: 0.90%;
	height: 2.1%;
}

#frame-115 .s15-box-hydrogen
{
	position: absolute;
	left: 68.8%;
	top: 24.4%;
	width: 13.5%;
	height: 9.2%;
}

#frame-115 .s15-for-example
{
	position: absolute;
	left: 61.9%;
	top: 45%;
	width: 7.25%;
	height: 2.4%;
	font-size: 30%;
}

#frame-115 .s15-box-natrium
{
	position: absolute;
	left: 50.55%;
	top: 53.6%;
	width: 14.5%;
	height: 9.2%;
}

#frame-115 .s15-plus-sign-3{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 66.5%;
	top: 57.3%;
	width: 0.90%;
	height: 2.1%;
}

#frame-115 .s15-box-2-water
{
	position: absolute;
	left: 68.95%;
	top: 53.6%;
	width: 14.5%;
	height: 9.2%;
}

#frame-115 .s15-arrow-2{
	background: transparent url('../pics/s16-arrow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 86.15%;
	top: 56.5%;
	width: 4.05%;
	height: 2.7%;
}

#frame-115 .s15-box-2-hydrooxide
{
	position: absolute;
	left: 47.75%;
	top: 65.6%;
	width: 17.5%;
	height: 9.2%;
}

#frame-115 .s15-plus-sign-4
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 66.35%;
	top: 69.9%;
	width: 0.90%;
	height: 2.09%;
}


#frame-115 .s15-box-2-hydrogen
{
	position: absolute;
	left: 68.8%;
	top: 65.6%;
	width: 13.5%;
	height: 9.2%;
}

/*FRAME 116*/

#frame-116
{
	background-image: url(../pics/s17.png);
}

#frame-116 .questions
{
	background-image: url(../pics/s17-questions.png);
}

#frame-116 .girl-mouth
{
	background-image: url(../pics/s17-girl-mouth.gif);
}

#frame-116 .girl-eyes
{
	background-image: url(../pics/s17-girl-eyes.gif);
}

#frame-116 .girl-cloud-1
{
	background: transparent url('../pics/speech-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 1.65%;
	top: 26.1%;
	width: 27.3%;
	height: 28.3%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 23%;
}

#frame-116 .girl-cloud-2
{
	background: transparent url('../pics/speech-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 16.7%;
	top: 54.9%;
	width: 20.6%;
	height: 21.3%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 23%;
}

#frame-116 .box
{
	border: 3px solid black;
	border-radius: 2vmin;
	background-color: white;
	padding: 1%;
	text-align: center;
	font-size: 25%;
}


#frame-116 .s17-box-litii
{
	position: absolute;
	left: 47.4%;
	top: 87.3%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-koh
{
	position: absolute;
	left: 62.15%;
	top: 55.7%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-kcl
{
	position: absolute;
	left: 47.4%;
	top: 66%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-h
{
	position: absolute;
	left: 77.45%;
	top: 76.4%;
	width: 14.5%;
	height: 9.19%;
}
#frame-116 .s17-box-ca
{
	position: absolute;
	left: 62.4%;
	top: 65.8%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-h2o
{
	position: absolute;
	left: 77.45%;
	top: 65.8%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-lio
{
	position: absolute;
	left: 62.4%;
	top: 76.7%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-hcl
{
	position: absolute;
	left: 47.3%;
	top: 76.4%;
	width: 14.5%;
	height: 9.19%;
}
#frame-116 .s17-box-n
{
	position: absolute;
	left: 62.35%;
	top: 87.5%;
	width: 14.5%;
	height: 9.2%;
}
#frame-116 .s17-box-co2
{
	position: absolute;
	left: 77.45%;
	top: 87.3%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q4-right-box
{
	position: absolute;
	left: 83.35%;
	top: 43.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q4-left-box
{
	position: absolute;
	left: 43.8%;
	top: 42%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q3-left-box
{
	position: absolute;
	left: 51.3%;
	top: 29.7%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q2-right-box
{
	position: absolute;
	left: 82.7%;
	top: 17.7%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q2-left-box
{
	position: absolute;
	left: 43.95%;
	top: 17.7%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q1-right-box
{
	position: absolute;
	left: 77.15%;
	top: 6.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-116 .s17-q1-left-box
{
	position: absolute;
	left: 60.65%;
	top: 6.1%;
	width: 14.5%;
	height: 9.2%;
}

/*FRAME 117*/

#frame-117
{
	background-image: url(../pics/s18.png);
}

#frame-117 .boy
{
	background-image: url(../pics/s18-main-boy.png);
}

#frame-117 .boy-mouth
{
	background-image: url(../pics/s18-boy-mouth.gif);
}

#frame-117 .boy-eyes
{
	background-image: url(../pics/s18-boy-eyes.gif);
}

#frame-117 .boy-cloud
{
	background: transparent url('../pics/s14-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.85%;
	top: 58.5%;
	width: 28.4%;
	height: 23.9%;
	font-size: 23%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-117 .teacher-mouth
{
	background-image: url(../pics/s18-teacher-mouth.gif);
}

#frame-117 .teacher-eyes
{
	background-image: url(../pics/s18-teacher-eyes.gif);
}

#frame-117 .teacher-cloud
{
	background: transparent url('../pics/speech-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 21%;
	top: 4.7%;
	width: 24.3%;
	height: 30.9%;
	font-size: 23%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-117 .s17-main-girl
{
	background: transparent url('../pics/s18-main-girl.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 59.95%;
	top: 10.6%;
	width: 34.35%;
	height: 54.4%;
}


#frame-117 .s17-girl-cloud
{
	background: transparent url('../pics/s18-girl-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 74.3%;
	top: 7.2%;
	width: 21.2%;
	height: 14%;
	font-size: 20%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-117 .s17-girl-eyes
{
	background-image: url('../pics/s18-girl-eyes.gif');
}

#frame-117 .s17-girl-mouth
{
	background-image: url('../pics/s18-girl-mouth.gif');
}

/*FRAME 118 s19 */ 

#frame-118
{
	background-image: url(../pics/s19.png);
}

#frame-118 .video-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
}

#frame-118 .guide
{
	background-image: url(../pics/s19-guide.png);
}

#frame-118 .guide-eyes
{
	background-image: url(../pics/s19-guide-eyes.gif);
}

#frame-118 .guide-mouth
{
	background-image: url(../pics/s19-guide-mouth.gif);
}

#frame-118 .guide-cloud
{
	background: transparent url('../pics/s14-boy-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 46.6%;
	top: 33.2%;
	width: 26.25%;
	height: 16.8%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 22%;
}

/*FRAME 119*/

#frame-119
{
	background-image: url(../pics/s20.png);
}
#frame-119 .teacher-eyes
{
	background-image: url(../pics/s20-teacher-eyes.gif);
}
#frame-119 .teacher-mouth
{
	background-image: url(../pics/s20-teacher-mouth.gif);
}

#frame-119 .box
{
	border: 3px solid black;
	border-radius: 2vmin;
	padding: 1%;
	text-align: center;
	font-size: 1vmax;
	background-color: white;
}

#frame-119 .teacher-cloud
{
	background: transparent url('../pics/s13-teacher-cloud.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 12%;
	top: 3.1%;
	width: 25.7%;
	height: 42.6%;
	font-size: 21%;
	padding: 1%;
	padding-bottom: 5%;
}

#frame-119 .part-1, 
#frame-119 .part-2
{
	font-size: 30%;
}

#frame-119 .s20-box-metal
{
	position: absolute;
	left: 48.5%;
	top: 20.9%;
	width: 14.5%;
	height: 9.2%;
}

#frame-119 .s20-plus-1
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 64.45%;
	top: 24.6%;
	width: 0.89%;
	height: 2.1%;
}

#frame-119 .s20-box-acid
{
	position: absolute;
	left: 66.9%;
	top: 20.9%;
	width: 14.5%;
	height: 9.2%;
}

#frame-119 .s20-arrow-1
{
	background: transparent url('../pics/s16-arrow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 84.1%;
	top: 23.8%;
	width: 4.05%;
	height: 2.7%;
}

#frame-119 .s20-box-salt
{
	position: absolute;
	left: 50.8%;
	top: 32.1%;
	width: 12.4%;
	height: 9.2%;
}

#frame-119 .s20-plus-2
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 64.3%;
	top: 36.4%;
	width: 0.90%;
	height: 2.1%;
}

#frame-119 .s20-box-hydrogen
{
	position: absolute;
	left: 66.75%;
	top: 32.1%;
	width: 13.5%;
	height: 9.2%;
}

#frame-119 .s20-for-example
{
	position: absolute;
	left: 61.9%;
	top: 51.4%;
	width: 7.25%;
	height: 2.4%;
	font-size: 25%;
}

#frame-119 .s20-box-na
{
	position: absolute;
	left: 48.5%;
	top: 60.2%;
	width: 14.5%;
	height: 9.2%;
}

#frame-119 .s20-plus-3
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 64.45%;
	top: 63.9%;
	width: 0.89%;
	height: 2.1%;
}

#frame-119 .s20-box-hcl
{
	position: absolute;
	left: 66.9%;
	top: 59.2%;
	width: 14.5%;
	height: 11%;
}

#frame-119 .s20-box-nacl
{
	position: absolute;
	left: 45.7%;
	top: 72.2%;
	width: 17.5%;
	height: 9.2%;
}

#frame-119 .s20-plus-4
{
	background: transparent url('../pics/s16-plus-sign.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 64.3%;
	top: 76.5%;
	width: 0.90%;
	height: 2.09%;
}

#frame-119 .s20-arrow-2
{
	background: transparent url('../pics/s16-arrow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 84.1%;
	top: 63.1%;
	width: 4.05%;
	height: 2.7%;
}

#frame-119 .s20-box-hydrogen-2
{
	position: absolute;
	left: 66.75%;
	top: 72.2%;
	width: 13.5%;
	height: 9.2%;
}

/*FRAME 120*/

#frame-120, #frame-120-b
{
	background-image: url(../pics/s21.png);
}

#frame-120 .boy-mouth
{
	background-image: url(../pics/s21-boy-mouth.gif);
}

#frame-120 .boy-cloud-1, #frame-120 .boy-cloud-2, #frame-120-b .boy-cloud-2
{
	position: absolute;
	background-image: url(../pics/s4-guide-cloud.png);
	background-size: 100% 100%;
	width: 25%;
	min-height: 20%;
	padding: 1%;
	padding-bottom: 5%;
	top: 27%;
	left: 3%;
	font-size: 20%;
}

#frame-120 .box, #frame-120-b .box
{
	border: 3px solid black;
	background-color: white;
	border-radius: 2vmin;
	text-align: center;
	padding: 1%;
	z-index: 7;
	font-size: 22%;
}

#frame-120 .basket, #frame-120-b .basket
{
	border: 3px solid black;
	background-color: lightGray;
	border-radius: 2vmin;
	text-align: center;
	padding: 1%;
	width: 14.5%;
	height: 9.2%;
	position: absolute;
}

#frame-120 .basket-1, #frame-120-b .basket-1 { left: 66%; top: 31%; }
#frame-120 .basket-2, #frame-120-b .basket-2 { left: 66%; top: 43%; }
#frame-120 .basket-3, #frame-120-b .basket-3 { left: 66%; top: 55%; }
#frame-120 .basket-4, #frame-120-b .basket-4 { left: 84%; top: 31%; }
#frame-120 .basket-5, #frame-120-b .basket-5 { left: 84%; top: 43%; }
#frame-120 .basket-6, #frame-120-b .basket-6 { left: 84%; top: 55%; }

#frame-120 .s21-box-1-1, #frame-120-b .s21-box-1-1
{
	position: absolute;
	left: 37.7%;
	top: 75.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-1-2, #frame-120-b .s21-box-1-2
{
	position: absolute;
	left: 53.65%;
	top: 75.1%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-1-3, #frame-120-b .s21-box-1-3
{
	position: absolute;
	left: 68.75%;
	top: 75%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-1-4, #frame-120-b .s21-box-1-4
{
	position: absolute;
	left: 84.1%;
	top: 75%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-2-1, #frame-120-b .s21-box-2-1
{
	position: absolute;
	left: 37.7%;
	top: 86%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-2-2, #frame-120-b .s21-box-2-2
{
	position: absolute;
	left: 53.55%;
	top: 86.3%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-2-4, #frame-120-b .s21-box-2-4
{
	position: absolute;
	left: 84.1%;
	top: 86.2%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .s21-box-2-3, #frame-120-b .s21-box-2-3
{
	position: absolute;
	left: 68.75%;
	top: 86.2%;
	width: 14.5%;
	height: 9.2%;
}

#frame-120 .question
{
	background-image: url(../pics/s21-questions-part-a.png);
}

#frame-120-b .question
{
	background-image: url(../pics/s21-questions-part-b.png);
}

/*FRAME 121*/
#frame-121
{
	background-image: url(../pics/s22.png);
}

#frame-121 .girl-cloud
{
	background-image: url(../pics/speech-cloud.png);
	background-size: 100% 100%;
	position: absolute;
	width: 20%;
	min-height: 25%;
	left: 20%;
	top: 15%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-121 .girl-eyes
{
	background-image: url(../pics/s22-girl-eyes.gif);
	z-index: 5;
}

#frame-121 .girl-mouth
{
	background-image: url(../pics/s22-girl-mouth.gif);
	z-index: 6;
}

/*FRAME 122*/

#frame-122
{
	background-image: url(../pics/s23.png);
}

#frame-122 .guide-cloud
{
	background-image: url(../pics/s8-teacher-cloud.png);
	background-size: 100% 100%;
	position: absolute;
	width: 25%;
	min-height: 50%;
	left: 45%;
	top: 10%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-122 .video-container
{
	width: 40%;
	height: 40%;
	left: 5%;
	top: 20%;
	position: absolute;
}

#frame-122 .guide-mouth
{
	background-image: url(../pics/s23-guide-mouth.gif);
}

#frame-122 .guide-eyes
{
	background-image: url(../pics/s23-guide-eyes.gif);
}

/*FRAME 123*/

#frame-123
{
	background-image: url(../pics/s24.png);
}

#frame-123 .guide
{
	background-image: url(../pics/s24-guide.png);
}

#frame-123 .guide-eyes
{
	background-image: url(../pics/s24-guide-eyes.gif);
}

#frame-123 .guide-mouth
{
	background-image: url(../pics/s24-guide-mouth.gif);
}

#frame-123 .girl-eyes
{
	background-image: url(../pics/s24-girl-eyes.gif);
}

#frame-123 .girl-mouth
{
	background-image: url(../pics/s24-girl-mouth.gif);
}

#frame-123 .guide-cloud
{
	background-image: url(../pics/s4-guide-cloud.png);
	background-size: 100% 100%;
	position: absolute;
	width: 20%;
	min-height: 35%;
	left: 55%;
	top: 7%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-123 .girl-cloud
{
	background-image: url(../pics/s15-boy-cloud.png);
	background-size: 100% 100%;
	position: absolute;
	width: 25%;
	min-height: 32%;
	left: 15%;
	top: 7%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

/*FRAME 124*/

#frame-124
{
	background-image: url(../pics/s26.png);
}

#frame-124 .teacher-mouth
{
	background-image: url(../pics/s26-teacher-mouth.gif);
}

#frame-124 .teacher-eyes
{
	background-image: url(../pics/s26-teacher-eyes.gif);
}

#frame-124 .teacher-cloud
{
	background-image: url(../pics/s8-teacher-cloud.png);
	background-size: 100% 100%;
	position: absolute;
	width: 20%;
	min-height: 20%;
	left: 50%;
	top: 13%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-124 .step
{
	width: 50%;
	height: 60%;
	position: absolute;
	top: 25%;
	left: 5%;
}

#frame-124 .question
{
	position: absolute;
	width: 100%;
	min-height: 15%;
	font-size: 22%;
}

#frame-124 .textfield
{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 50%;
	border-radius: 2vmin;
	font-size: 20%;
	padding: 3%;
}

#frame-124 .button
{
	position: absolute;
	top: 80%;
	width: 40%;
	height: 15%;
	background-color: #333333;
	border-radius: 2vmin;
	font-size: 20%;
	padding: 3%;
	color: white;
	text-align: center;
}

#frame-124 .button:hover
{
	background-color: lightGray;
	color: black;
}

#frame-124 .prev-step-button
{
	left: 2%;
}

#frame-124 .next-step-button, #frame-124 .save-step-button
{
	left: 50%;
}

#frame-124 .answer
{
	width: 100%;
	min-height: 15%;
	position: relative;
	padding: 2%;
	top: 3%;
	font-size: 22%;
}

#frame-124 .apple-image
{
	background-image: url(../pics/s26-apple.png);
	background-size: 100% 100%;
	width: 30%;
	height: 40%;
	position: absolute;
	padding: 2%;
	top: -30%;
	left: 55%;
	font-size: 1.2vmax;
}


#frame-124 .next-frame-button
{
	width: 30%;
	height: 10%;
	padding: 1%;
	top: 10%;
	color: white;
	text-align: center;
	position: relative;
	border-radius: 2vmin;
	background-color: #333333;
	font-size: 20%;
}

#frame-124 .next-frame-button:hover
{
	background-color: lightGray;
	color: black;
}

/*FRAME 125*/

#frame-125
{
	background-image: url(../pics/s27.png);
}

#frame-125 .teacher-cloud
{
	background-image: url(../pics/speech-cloud.png);
	background-size: 100% 100%;
	width: 25%;
	min-height: 28%;
	position: absolute;
	left: 18%;
	top: 3%;
	padding: 1%;
	padding-bottom: 5%;
	font-size: 20%;
}

#frame-125 .teacher-eyes
{
	background-image: url(../pics/s27-teacher-eyes.gif);
}

#frame-125 .teacher-mouth
{
	background-image: url(../pics/s27-teacher-mouth.gif);
}

#frame-125 .s27-f1-box{
	background: white url('../pics/golden-man.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3%;
	top: 39.4%;
	width: 18%;
	height: 50.2%;
}



#frame-125 .s27-f2-box{
	background: white url('../pics/golden-man.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 22.2%;
	top: 39.4%;
	width: 18%;
	height: 50.2%;
}



#frame-125 .s27-f3-box{
	background: white url('../pics/golden-man.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 41.65%;
	top: 39.4%;
	width: 18%;
	height: 50.2%;
}


#frame-125 .s27-f4-box{
	background: white url('../pics/golden-man.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 60.85%;
	top: 39.4%;
	width: 18%;
	height: 50.2%;
}

#frame-125 .s27-f5-box{
	background: white url('../pics/golden-man.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 80.05%;
	top: 39.1%;
	width: 18%;
	height: 50.2%;
}

#frame-125 .box
{
	border: 3px solid black;
	border-radius: 2vmin;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	padding: 1%;
	font-size: 20%;
	color: transparent;
	transform: rotateY(180deg);
}

/*FRAME 126*/

#frame-126
{
	background-image: url(../pics/s28.png);
}

#frame-126 .next-frame-button, #frame-127 .next-frame-button
{
	position: absolute;
	width: 12%;
	height: 5%;
	left: 80%;
	top: 90%;
	font-size: 20%;
	background-color: lightGray;
	border-radius: 2vmin;
	padding: 0.5%;
	text-align: center;
}

#frame-126 .next-frame-button:hover, #frame-127 .next-frame-button:hover
{
	background-color: black;
	color: white;
}

#frame-126 .source
{
	position: absolute;
}

#frame-126 .source a
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

#frame-126 .source:hover
{
	border-bottom: 3px solid white;;
}


/* line 137, ../sass/navigation.sass */
#frame-126 .source-1 {
  left: 9.2%;
  top: 36.8%;
  width: 43.25%;
  height: 5.8%;
}

/* line 140, ../sass/navigation.sass */
#frame-126 .source-2 {
  left: 8.8%;
  top: 42.7%;
  width: 80.95%;
  height: 5.7%;
}

/* line 143, ../sass/navigation.sass */
#frame-126 .source-3 {
  left: 8.5%;
  top: 49.2%;
  width: 64.6%;
  height: 5%;
}

/* line 146, ../sass/navigation.sass */
#frame-126 .source-4 {
  left: 8.6%;
  top: 54.7%;
  width: 54.95%;
  height: 5.5%;
}

/*FRAME 127*/
#frame-127
{
	background-image: url(../pics/s29.png);
}

.s27-section-title
{
	font-size: 50%;
	text-shadow: 1px 1px black;	
	position: absolute;
	left: 5%;
	top: 2.5%;
	width: 10%;
	height: 10%;
	padding: 2%;
	color: white;

}

.s27-task-desc 
{
	position: absolute;
	left: 10%;
	top: 15%;
	width: 80%;
	height: 31.9%;
	padding: 2%;
	color: white;
	font-size: 30%;
}

#frame-127 .box
{
	border: 3px solid black;
	border-radius: 2vmin;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	padding: 1%;
	font-size: 20%;
	color: transparent;
	transform: rotateY(180deg);
}

#frame-127 .answer
{
	position: absolute;
	left: 32.05%;
	top: 55.2%;
	width: 31.95%;
	height: 31.9%;
	padding: 2%;
	color: transparent;
	transform: rotateY(180deg);
	font-size: 20%;
}